<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    
    <div class="container">
      {{>navigation}}
       <img id="waveform-image"src="images/waveform.png" alt="">
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">
            <h2 id="how-does-it-work">Contact</h2>
          </div>
          <p class="contact-email">EMAIL:</p>
          <p class="contact-email">support [at] javascriptforsoundartists.com</p>
          
          <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
  </body>
  
</html>