<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <div class="container">
      {{>navigation}}
      <img id="waveform-image"src="images/waveform.png" alt="">
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center" id="dashboard-pane">
            <h2 class="title-block">Your Dashboard</h2>
            <div class="about-container">
              <h2 class="name"> Name: {{firstName}}  {{lastName}}<h2>
              <h2 class="name"> Percentage complete: 0%<h2>
              
            </div>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      {{!--         <div class="about-container">
        <h2 class="name"> Name: {{firstName}}  {{lastName}}<h2>
        <h2 class="name"> Percentage complete: 0%<h2>
        
      </div> --}}
      <div class="row">
        
        <div class="col-md-4">
          <a href="dashboard/jsfsa/1">
            <section class="dashboard-lesson">
              <h3>Lesson 1</h3>
              <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
              <br>
            </section>
          </a>
        </div>
        <div class="col-md-4">
          <a href="dashboard/jsfsa/1">
            <section class="dashboard-lesson">
              <h3>Lesson 1</h3>
              <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
              <br>
            </section>
          </a>
        </div>
        <div class="col-md-4">
          <a href="dashboard/jsfsa/1">
            <section class="dashboard-lesson">
              <h3>Lesson 1</h3>
              <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
              <br>
            </section>
          </a>
        </div>
        
      </div>          <div class="row">
      
      <div class="col-md-4">
        <section class="dashboard-lesson">
          <h3>Lesson 1</h3>
          <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
          <br>
        </section>
      </div>
      <div class="col-md-4">
        <section class="dashboard-lesson">
          <h3>Lesson 1</h3>
          <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
          <br>
        </section>
      </div>
      <div class="col-md-4">
        <section class="dashboard-lesson">
          <h3>Lesson 1</h3>
          <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
          <br>
        </section>
      </div>
      
    </div>          <div class="row">
    
    <div class="col-md-4">
      <section class="dashboard-lesson">
        <h3>Lesson 1</h3>
        <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
        <br>
      </section>
    </div>
    <div class="col-md-4">
      <section class="dashboard-lesson">
        <h3>Lesson 1</h3>
        <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
        <br>
      </section>
    </div>
    <div class="col-md-4">
      <section class="dashboard-lesson">
        <h3>Lesson 1</h3>
        <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
        <br>
      </section>
    </div>
    
  </div>          <div class="row">
  
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  
</div>
<div class="row">
  
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  <div class="col-md-4">
    <section class="dashboard-lesson">
      <h3>Lesson 1</h3>
      <p>If you're a musician, DJ, sound performance artist or audio engineer and want to learn the art ofr </p>
      <br>
    </section>
  </div>
  
</div>

<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>

</html>