<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>


	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>

<form action="newPassword" method="post">
	<input type="text" name="emailData">
	<input type="submit">
</form>

	</body>
	<!--______________________________________________________END APP-->
</html>