<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link href="css/app_faq.css" rel="stylesheet">
    </head>
    <body>
        {{>navigation}}
        <!-- Page Content -->
        <div class="container">
         <img id="waveform-image"src="images/waveform.png" alt="">
            <!-- Call to Action Well -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="well text-center">
                        <h2 class="title-block">Frequently ask questions</h2>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- Content Row -->
            <div class="row">
                <div class="col-md-12">
                    <h3>Who is this course designed for ?</h3>
                    <p>The course is for anyone involved with the world of audio engineering, electronic music, game audio, sound art, or DJ culture who wants to learn how to build JavaScript based software. You will learn JavaScript by leveraging concepts you are already familar with from the audio world.</p>
                </div>
                <!-- /.col-md-4 -->
                      <div class="col-md-12">
                    <h3>How does it work ?</h3>
                    <p>After enrollling you will immediatly be granted access to the curriculum and your book will be mailed to you. Within 24 hours you will be contacted by your mentor to schedule your first meeting. During this meeting your mentor will listen to your goals and walk you through the preliminaries of the course. At the end of each mentor session you will set a goal to complete by next weeks session. Each session with your mentor will be the time to ask questions and explore individualized projects.You will also be free to contact your mentor by email during the week.</p>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-12">
                    <h3>What will I learn ?</h3>
                    <p> You will learn to think like a programmer. Additionally, you will receive a foundation in the following technologies:</p>
                    <ul class="what-you-will-learn">
                        <li>JavaScript</li>
                        <li>Web Audio API</li>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>JQuery</li>
                        <li>NodeJS with Express.js</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h3>What can I do with these skills ?</h3>
                    <p> The skills you will learn in this course are applicable to mobile, web and desktop application development and extend beyond the conventional boundaries of the sound arts.If you are a sound artist or engineer of any kind and want to incorporate web and mobile development into your skill set then this is the course for you</p>
                   
                </div>
                
                <div class="col-md-12">
                    <h3>How long will this take ?</h3>
                    <p>The program is designed to be a three to five month commitment. After completion you should expect another year and a half of working on your own to build the fuidity needed to feel confident. Learning to program is a life long endevor. </p>
                </div>
                
                <div class="col-md-12">
                    <h3>Why shouldn't I just learn this stuff by myself ?</h3>
                    <p>Mentorship offers a short cut through the learning curve of any discipline. With a good mentor you can shave months and even years off what is already an arduous process. Being smart not only entails learning from your own mistakes, but the mistakes of others</p>
                </div>
                
                
                <div class="col-md-12">
                    <h3>Who are the mentors and founders ?</h3>
                    <p>The sole founder and mentor is William Turner who is the author of JavaScript for Sound Artists</p>
                    <p>You can visit my LinkedIn page here :)</p>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <p>Copyright &copy; JavaScript for Sound Artists 2015-2016</p> -->
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>
    
</html>