<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        
        <div class="container">
            {{>navigation}}
            <div class="row">
                <div class="col-lg-12">
                    <div class="well text-center">
                        <h2 class="title-block">ERROR</h2>
                          <p>{{message}}<p>
                             <img id="borg-image" class=" img-rounded" src="/images/borg.jpg" alt="">
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                
                

                </div>
                <br>
                
            </div>
            
        </div>
    </div>
          <script src="/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
</body>
</html>