<!DOCTYPE html>
<html>
	<head>
		{{>head}}
		<link href="/css/app_login.css" rel="stylesheet">
	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
		<div class="container">
			{{>navigation}}
			
			<div class="row">
				<div class="col-lg-12">
					<div class="well text-center">
						<h2 id="how-does-it-work">Login</h2>
					</div>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<form class="register" action="/login" method="post">
				<input type="hidden" name="_csrf" value = {{csrfToken}}>
				<span>Email</span>
				<input class="form-control register" type="text" name="email">
				<br>
				<span>Password</span>
				<input class="form-control register" type="password" name="password">
				<br>
				<input class="btn" type="submit">
			</form>
			<div class="flash-message">{{flashError}}</div>
			<div class="password-reset"><a href="/reset">Forgot Password?</a></div>
		</div>
		<script src="js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
	</body>
	<!--______________________________________________________END APP-->
</html>