<!DOCTYPE html>
<html>
	<head>
	{{>head}}
			<link href="css/app_register.css" rel="stylesheet">

	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>

        <div class="container">

	{{>navigation}}

	{{>user_register}}


	<div class="flash-message">{{flashError}}</div>
            </div>



                   <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

	</body>
	<!--______________________________________________________END APP-->
</html>