<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <link href="css/app_login.css" rel="stylesheet">
  <body>
    
    <div class="container">
      {{>navigation}}
       <img id="waveform-image"src="images/waveform.png" alt="">
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">
            <h2 id="how-does-it-work">Forgot your password? Type your email and we will send you a link to reset it</h2>
            <form action="/resetPassword" method="post">
	<input type="hidden" name="_csrf" value = {{csrfToken}}>
	<input type="email" name="email" >
	<input type="submit">
</form>

  <div class="flash-message">{{flashError}}</div>
          </div>
       
          
          <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
  </body>
  
</html>