<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>
<ul>

{{#each users}}
	
<li> {{this.description}} <br> delinquent:  {{this.delinquent}} </li>
	{{/each}} 
	
</ul>



	</body>
	<!--______________________________________________________END APP-->
</html>